img{
    height: 100%;
    width: 100%;
}
.row{
    margin-bottom: 5px;
}

/* fisrt row styles */
.first-row, .second-row, .third-row, .forth-row{
    display: flex;
    gap: 8PX;
}

/* Second row styles */
.second-row > div{
    flex: 1;
}
.second-row-first-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.second-row-first-container > div{
    height: calc(50% - 8px/2);
}

/* Third row styles */
.third-row > div{
    flex: 1;
}
.third-row-second-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

/* Forth row styles */
.forth-row > div{
    flex: 1;
}
.forth-row-third-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.forth-row-third-container > div{
    height: calc(50% - 8px/2);
}

/* Last row styles */
.last-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

/* Responsive styles */
@media screen and (min-width: 577px) {
    .row{
        height: 850px;
    }
}
/* ============================ */
@media screen and (max-width: 576px) {
    .first-row, .second-row, .third-row, .forth-row{
        flex-direction: column;
    }
    .third-row-second-container, .last-row{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 577px) and (max-width: 800px) {
    .last-row{
        grid-template-columns: repeat(2, 1fr);
    }
}